<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up for Budget Buddy</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
     <header>
    <nav class="navbar navbar-inverse navigationMenu">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a id= headTitle color class="navbar-brand" href="expenses">Budget Buddy</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
    
         <ul class="nav navbar-nav navbar-right">
          <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  <li>
    
    {{#if logged_in}}
      <a href="/index">profile</a> |
      <button class="no-button" id="logout">
        <span class="glyphicon glyphicon-log-in"></span>logout
      </button>
    {{else}}
      <a href="/login">
        <span class="glyphicon glyphicon-log-in"></span>login
      </a>
    {{/if}}
  </li>
</ul>
        </div>
      </div>
    </nav>
  </header>
    <form id="signup-form" class="form signup-form">
      <div class="container">
        <a href="/index"><h1>Sign Up for Budget Buddy</h1></a>
        <p>Please fill in this form to create an account.</p>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password must be over (8) Characters long"
      />
    </div>
        <p>
          By creating an account you agree to our
          <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
        </p>

        <div class="clearfix">
          
          <div class="form-group">
            <a href="/index"
            ><button type="button" class="cancelbtn">Cancel</button></a
          >
        <button class="signupbtn" type="submit">signup</button>
      </div>
          
        </div>
      </div>
    </form>
  </body>
  <script src="js/login.js"></script>
</html>

