body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header1 {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
#header2 {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#income-input {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#debt-input {
  width: 400px;
}
#expense-input {
  width: 400px;
}

select {
  width: 420px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#province {
  width: 920px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Additional Styles */

#income-remaining {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

#income-remaining h3 {
  margin-top: 0;
}

#income-remaining p {
  font-size: 24px;
}

#expenses-chart {
  height: 300px;
  background-color: #f1f1f1;
}

#income-frequency {
  width: 921px;
}

#income-amount {
  width: 900px;
}
/* Additional styles for expense list items and other elements can be added as needed */
